<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.console.canreader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22" />

    <application
        android:name="com.console.canreader.ConsoleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.console.canreader.activity.CarInfoWaringActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.CarInfoActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name="com.console.canreader.activity.MenuPaSelectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name="com.console.canreader.activity.CarSettingAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        
        <activity
            android:name="com.console.canreader.activity.MenuAcAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.MenuCdAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            
            
        </activity>
        <activity
            android:name="com.console.canreader.activity.MenuPaAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.MenuPanoramaAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.MenuAboutAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>                  
        <activity
            android:name="com.console.canreader.activity.MenuTpmsAcitivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.VolkswagenGolf.DrivingDataActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.JingKooM20.DrivingDataActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.JAC.TpmsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.Toyota.SettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.Toyota.DrivingDataActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.Toyota.OilEleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.Toyota.TripOilConActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.console.canreader.activity.Toyota.HistoryOilConActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name="com.console.canreader.service.CanService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="com.console.canreader.service.CanService" />
            </intent-filter>
        </service>

        <receiver android:name="com.console.canreader.receiver.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>