<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.colink.serialport"
    android:versionCode="5"
    android:versionName="2.3" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="cn.colink.serialport.service.ConsoleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccLogoSelectActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->

            </intent-filter>
        </activity>
        <activity
            android:name=".TailGateActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service
            android:name="cn.colink.serialport.service.SerialPortService"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="cn.colink.serialport.service.SerialPortService" />
            </intent-filter>
        </service>
        <service
            android:name="cn.colink.serialport.service.BNRService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name="cn.colink.serialport.receiver.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.colink.serialport.receiver.GaoDeBroadCast" >
            <intent-filter android:priority="1000" >
                <action android:name="com.amap.navi" />
                <action android:name="AUTONAVI_STANDARD_BROADCAST_SEND" />
                <action android:name="com.autonavi.minimap.carmode.send" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.zzj.softwareservice.database.NaviContentProvider"
            android:authorities="com.zzj.softwareservice.NaviProvider"
            android:exported="true" />
        <provider
            android:name="com.zzj.softwareservice.database.WeatherProvider"
            android:authorities="com.zzj.softwareservice.WeatherProvider"
            android:exported="true" />
    </application>

</manifest>